<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "就活サポートツール", root_path, id: "logo" %>
    </ul>
      <div class="nav navbar-nav navbar-right">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Menu
            <span class="caret"></span>
          </button>
          <% if user_signed_in? %>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "FAQ", faq_path %></li>
              <li><%= link_to "設定", edit_user_registration_path %></li>
              <li><%= link_to "ユーザー情報", user_path(current_user.id) %></li>
              <li><a href="#">News</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "sign out", destroy_user_session_path, method: "delete" %></li>
              <% else %>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "FAQ", faq_path %></li>
                <li><%= link_to "news", 'http://jp.techcrunch.com/', target: "_blank" %></li>
                <li role="separator" class="divider"></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <% end %>
            </ul>
        </div>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "google", 'https://www.google.co.jp/', target: "_blank" %></li>
      <li><%= link_to "yahoo!", 'https://www.yahoo.co.jp/', target: "_blank" %></li>
    </ul>
  </div>
</header>
